<h2>Trade History</h2>

<ul class="list-group" [hidden]="trades && trades.length === 0">
    <li class="list-group-item" *ngFor="let trade of trades">
      {{ trade.Date | date }}: 
      {{ trade.Quantity }} shares of 
        <a href="https://www.google.com/search?q={{ trade.StockSymbol }}&tbm=fin" target="_blank">{{ trade.StockSymbol }}</a> 
        {{ trade.IsPurchase ? 'purchased' : 'sold' }} for {{ trade.Price | currency }}.
      <div *ngIf="!trade.IsPurchase" class="{{ trade.SaleProfitLoss >= 0 ? 'green' : 'red' }}">
        {{ trade.SaleProfitLoss >= 0 ? 'Profit: ' : 'Loss: ' }} {{ trade.SaleProfitLoss | currency }}
      </div>
      <div>
        <div class="btn-group" role="group">
          <a (click)="onEdit(trade)" class="btn btn-light">Edit</a> 
          <a (click)="onDelete(trade)" class="btn btn-light">Delete</a>
        </div>
      </div>
    </li>
</ul>

<p [hidden]="trades && trades.length > 0">You haven't added any trades yet!</p>