<h2>Stock Positions</h2>

<table class="table table-striped table-hover" [hidden]="stockPositions && stockPositions.length === 0">
    <thead class="thead-dark">
        <tr>
            <th>Stock</th>
            <th>#</th>
            <th class="d-none d-lg-table-cell">Purchase Price</th>
            <th class="d-none d-xl-table-cell">Current Price</th>
            <th>Balance</th>
            <th>Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stockPosition of stockPositions">
            <td><a href="https://www.google.com/search?q={{ stockPosition.StockSymbol }}&tbm=fin" target="_blank">{{ stockPosition.StockSymbol }}</a></td>
            <td>{{ stockPosition.Quantity }}</td>
            <td class="d-none d-lg-table-cell">{{ stockPosition.PurchasePrice | currency }}</td>
            <td class="d-none d-xl-table-cell">{{ stockPosition.CurrentPrice | currency }}</td>
            <td>{{ stockPosition.Balance | currency }}</td>
            <td class="{{ stockPosition.ProfitLoss >= 0 ? 'green' : 'red' }}">{{ stockPosition.ProfitLoss | currency }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total:</td>
            <td>{{ totalBalance | currency }}</td>
            <td class="{{ totalProfitLoss >= 0 ? 'green' : 'red' }}">{{ totalProfitLoss | currency }}</td>
        </tr>
    </tfoot>
</table>

<p [hidden]="stockPositions && stockPositions.length > 0">You don't have any stock positions yet!</p>