<h2>Summary</h2>

<ul class="list-group">
    <li class="list-group-item {{ tradesProfit >= 0 ? 'green' : 'red' }}">Trades {{ tradesProfit >= 0 ? 'Profit' : 'Loss' }}: {{ tradesProfit | currency }}</li>
    <li class="list-group-item {{ stockPositionsProfit >= 0 ? 'green' : 'red' }}">Stock Positions {{ stockPositionsProfit >= 0 ? 'Profit' : 'Loss' }}: {{ stockPositionsProfit | currency }}</li>
    <li class="list-group-item {{ totalProfit >= 0 ? 'green' : 'red' }}">Total {{ totalProfit >= 0 ? 'Profit' : 'Loss' }}: {{ totalProfit | currency }}</li>
    <li class="list-group-item alert-light">
        Refreshed on {{ stockPriceRefreshDate() }}. 
        Stock market is currently <span class="{{ stockMarketIsOpen() ? 'green' : 'red' }}">{{ stockMarketIsOpen() ? 'open' : 'closed' }}</span>.
        {{ stockMarketIsOpen() ? 'Auto-refreshing prices every minute' : 'Auto-refresh disabled' }}.
    </li>
</ul>